.login {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginLogo {
  font-size: 80px;
  font-weight: 800;
  color: #1da1f2;
  margin-bottom: 10px;
  letter-spacing: -2px;
}

.loginLogoImg {
  height: 250px;
  width: auto;
  margin-bottom: 20px;
  object-fit: contain;
}

.loginDesc {
  font-size: 24px;
  color: white;
  font-weight: 500;
}

.loginBox {
  background-color: #15202b;
  padding: 25px;
  border-radius: 20px;
  flex-direction: column;
  gap: 0;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
  max-width: 320px;
  height: 100px;
  width: 100%;

}

.loginMsg {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .loginWrapper {
    width: 90%;
    height: auto;
    flex-direction: column;
    padding: 20px 0;
  }

  .loginLeft {
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }

  .loginLogo {
    font-size: 50px;
  }

  .loginDesc {
    font-size: 18px;
  }

  .loginRight {
    width: 100%;
  }

  .loginBox {
    padding: 30px 20px;
    height: fit-content;
    gap: 0;
  }
}