.commentItem {
    display: flex;
    margin-bottom: 10px;
}

.commentProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.commentBody {
    flex: 1;
}

.commentTop {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.commentUsername {
    font-weight: 500;
    margin-right: 10px;
    font-size: 14px;
}

.dark-theme .commentUsername {
    color: #e4e6eb;
    /* Light text for username in dark mode */
}

.commentDate {
    font-size: 12px;
    color: #65676b;
}

.dark-theme .commentDate {
    color: #b0b3b8;
    /* Lighter grey for date in dark mode */
}

.commentDesc {
    font-size: 14px;
    background-color: #f0f2f5;
    padding: 8px 12px;
    border-radius: 15px;
    display: inline-block;
    margin: 0;
    line-break: anywhere;
}

.dark-theme .commentDesc {
    background-color: #2e2b2b;
    /* Even darker background for comment text in dark mode */
    color: #e4e6eb;
    /* Light text for comment description in dark mode */
}

.commentImg {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    margin-top: 5px;
    display: block;
    cursor: pointer;
    object-fit: cover;
}